<div class="estadisticas">
  <h4>El consumo de la energia hasta ahora es de: 40 WATS</h4>
  <!-- Gráfica de estadísticas (puedes usar una biblioteca de gráficos) -->
</div>
<div class="boton-control">
  <button (click)="toggleEstadisticas()" [ngClass]="getBotonClase()">
    {{ estadisticasActivas ? 'ON' : 'OFF' }}
  </button>
</div>
<div class="luces">
  <button (click)="EncenderOrden(1, 'LOW')">Luces Cocina</button>
  <button (click)="EncenderOrden(2, 'LOW')">Luces Sala</button>
  <button (click)="EncenderOrden(3, 'LOW')">Luces Baño</button>
  <button (click)="EncenderOrden(4, 'LOW')">Luces Habitación</button>
  <button (click)="EncenderOrden(5, 'LOW')">Luces Garaje</button>
</div>
