.luces {
  background-color: #f3f8fb;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.estadisticas {
  background-color: #f3f8fb;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}
.estadisticasLuces{
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
.boton-control button {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  padding: 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.boton-activo {
  background-color: green;
  color: white;
}

.boton-inactivo {
  background-color: red;
  color: white;
}
button {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  padding: 16px;
  font-size: 16px;
  background-color: #3E51B5;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.boton-azul {
  background-color: #3E51B5;
}
.boton-rojo {
  background-color: #3E51B5;
}

.boton-verde {
  background-color: rgb(52, 156, 52);
}
button:hover {
  background-color: #2b3f8f;
}
