<div class="estadisticas">
  <h4>El consumo de la energia hasta ahora es de: 40 WATS</h4>
  <!-- Gráfica de estadísticas (puedes usar una biblioteca de gráficos) -->
</div>
<div class="boton-control">
  <button (click)="toggleEstadisticas()" [ngClass]="getBotonClase()">
    {{ estadisticasActivas ? 'ON' : 'OFF' }}
  </button>
</div>
<div class="luces">
  <button>Luces Cocina</button>
  <button>Luces Sala</button>
  <button>Luces Baño</button>
  <button>Luces Habitación</button>
  <button>Luces Garaje</button>
</div>
