<div class="estadisticas">
  <h4>El consumo de la energia hasta ahora es de: 40 WATS</h4>
  <!-- Gráfica de estadísticas (puedes usar una biblioteca de gráficos) -->
</div>
<div class="boton-control">

</div>
<div class="luces">
  <button (click)="EncenderOrden(1)">Luces Cocina - {{ getEstadoLuz(1) }}</button>
  <button (click)="EncenderOrden(2)">Luces Sala - {{ getEstadoLuz(2) }}</button>
  <button (click)="EncenderOrden(3)">Luces Baño - {{ getEstadoLuz(3) }}</button>
  <button (click)="EncenderOrden(4)">Luces Habitación - {{ getEstadoLuz(4) }}</button>
  <button (click)="EncenderOrden(5)">Luces Garaje - {{ getEstadoLuz(5) }}</button>
</div>
