<div>
  <header>
    <h4>Casa Domotica</h4>
  </header>
  <nav>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmJumhe0ByY2d2ElAISQMCQgVLECUu3_chCXVWdv86&s" alt="">
    <ul>
      <button routerLink="control_luces" routerLinkActive="active">Control Luces</button>
      <button routerLink="control_puertas" routerLinkActive="active">Control Puertas</button>
      <button routerLink="estadisticas" routerLinkActive="active">Control Temperatura</button>
      <button routerLink="estadisticas" routerLinkActive="active">Estadisticas</button>
    </ul>
  </nav>
</div>
