
div {
  display: block;
  height: auto;
}

div header {
  background-color: #dd761a;
  color: white;
  padding: 1em;
  box-shadow: 1px 2px 4px 0 rgba(21, 99, 157, 0.16);
  border-bottom: 1px solid rgba(21, 99, 157, 0.16);
}

div nav {
  border-right: none;
  background-color: #fff;
}

div nav a {
  margin: 0 auto;
  padding: 1em;
  cursor: pointer;
  position: relative;
  display: block;
  text-decoration: none;
  color: #000;
}

div main {
  background-color: #f3f8fb;
  padding: 1em;
}
div nav img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  div {
    display: grid;
    height: 20vh;
  }

  div nav {
    border-right: 1px solid rgba(21, 99, 157, 0.16);
  }

  div header {
    padding: 1em;
  }
}
