div {
  display: block;
  height: auto;
}
h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
div header {
  background-color:  #3E51B5;
  color: white;
  padding: 1em;
  box-shadow: 1px 2px 4px 0 rgba(21, 99, 157, 0.16);
  border-bottom: 1px solid rgba(21, 99, 157, 0.16);
  text-align: center; /* Añadido para centrar el texto horizontalmente */
}

div nav {
  border-right: none;
  background-color: #f3f8fb;
  text-align: center; /* Añadido para centrar el texto horizontalmente */
}

div nav a {
  margin: 0 auto;
  padding: 1em;
  cursor: pointer;
  position: relative;
  display: block;
  text-decoration: none;
  color: #000;
}

div nav img {
  display: block;
  margin: 0 auto;
}

div main {
  background-color: #f3f8fb;
  padding: 1em;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f8fb;
  color: #333;
  margin: 0;
  padding: 0;
}

button {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  padding: 16px;
  font-size: 16px;
  background-color: #3E51B5;
  color: white;
  cursor: pointer;
  border-radius: 10px; /* Agrega una curvatura al botón */
  transition: background-color 0.3s; /* Agrega una transición al cambio de color */
}

button:hover {
  background-color: #2b3f8f; /* Cambio de color al pasar el cursor */
}

main {
  padding: 16px;
}

.intro {
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.feature {
  flex: 1;
  margin: 16px;
  padding: 16px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.feature img {
  max-width: 80px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
  }

  button {
    width: auto;
  }
}
