.btn-back-to-main {
  background-color: #3E51B5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-back-to-main:hover {
  background-color: #2980b9;
}
.btn-back-to-main i {
  margin-right: 8px;
}

