<div class="estadisticas">
  <h4>Estadísticas de puertas</h4>
  <p>Puerta principal: {{ getEstadoBoton(6) }}</p>
  <p>Puerta garage: {{ getEstadoBoton(7) }}</p>
  <p>Cantidad de veces que fue abierta la puerta principal: {{ vecesAbiertaPuertaPrincipal }}</p>
  <p *ngIf="ultimaAperturaPuertaPrincipal">Última Apertura puerta principal: {{ ultimaAperturaPuertaPrincipal }}</p>
  <p *ngIf="ultimaAperturaPuertaGarage">Última Apertura puerta garaje: {{ ultimaAperturaPuertaGarage }}</p>
</div>

<div class="puertas">
  <button (click)="AccionPuerta(6)" [ngClass]="getBotonColor(6)">Puerta principal {{ getEstadoBoton(6) }}</button>
  <button (click)="AccionPuerta(7)" [ngClass]="getBotonColor(7)">Puerta Garage {{ getEstadoBoton(7) }}</button>
</div>

